{% extends "usersAdmin/base.html" %}
{% load static %}
{% block title %}Barcha talabalar{% endblock title %}
{% block main %}
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FISH:</th>
                    <th scope="col">fakultet</th>
                    <th scope="col">kursi</th>
                    <th scope="col">guruhi</th>
                    <th scope="col">keraksiz</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Humoyin Davronov</td>
                    <td>Qurilish Materiallari va Kimyoviy texnalogiyalari</td>
                    <td>3-kurs</td>
                    <td>821-21</td>
                    <td><a href="#" class="btn btn-danger">O'chirish</a></td>

            </tbody>
    </table>
{% endblock main %}