{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/bt.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    <style>{% block style %}{% endblock style %}</style>
    <title>TTJ</title>
</head>
<body>

    <div class="container-fluid">
      <div class="row">
        <div class="col col-2 sitebar">
            <ul>
                <li><a href="{% url "profile" %}">Foydalanuvchi ma`lumotlari qo'shish</a></li>
                <li><a href="{% url "users" %}">Barcha Foydalanuvchi</a></li>
                <li><a href="{% url "students" %}">Yotoqhona kunlik yo`qlama</a></li>
                <li><a href="{% url "tulov" %}">Yotoqhona uchun to`lov qilish</a></li>
                <li><a href="#">Statistika</a></li>
                <li><a href="#">Log out</a></li>
            </ul>    
        </div>
        <div class="col">
            <nav class="nav-top">
                <ul>
                    <li><a href="#" class="main"><img src="{% static 'img/jizpi.jpg' %}">Jizzax Politexnika Instituti</a></li>
                    <li><a href="#" class="user"><img src="{% static 'img/user.jpg' %}">UserName</a></li>
                </ul>
            </nav>

            
            
            <div class="main-box">
                {% block content %}{% endblock content %}
            </div>



        </div>
      </div>


    </div>
    





    <script src="{% static "js/bt.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>